<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="post">
		<table>
			<tr>
				<th>first name</th>
				<td><input type="text" name="fname"></td>
			</tr>
				<tr>
				<th>last name</th>
				<td><input type="text" name="lname"></td>
			</tr>
			<tr>
				<th>Age</th>
				<td><input type="text" name="age1"></td>
			</tr>
			<tr>
				<th>Gender</th>
				<td><input type="radio" name="t1" value="female">female
					<input type="radio" name="t1" value="male">male
					<input type="radio" name="t1" value="others">others
				</td>
			</tr>
			<tr>
				<th>place</th>
				<td>
					<select name="place">
						<option value="ernakulam">ernakulam</option>
						<option vlaue="idukki">idukki</option>
						<option vlaue="kottayam">kottayam</option>
						<option vlaue="palakkad">palakkad</option>
						<option vlaue="kozhikode">kozhikode</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>email</th>
				<td><input type="email" name="email"></td>
			</tr>
			<tr>
				<th>username</th>
				<td><input type="text" name="uname"></td>
			</tr>
			<tr>
				<th>password</th>
				<td><input type="password" name="pword"></td>
			</tr>
			<tr>
				<td><input type="submit" name="register"></td>
			</tr>
		</table>
</form>

</body>
</html>