<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">

  <title>
    PEST CONTROL STORE
  </title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
          <span>
    PEST CONTROL STORE
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="width:2000px;">
          <ul class="navbar-nav  ">

            <li class="nav-item active" style=" margin-left: 290px;">
              <a class="nav-link" href="adhome">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
               <a href="adminmanagestaff" class="nav-link">staff</a>
            </li>

            <li class="nav-item">
               <a href="adminmanagevendor" class="nav-link">Vendor</a>
            </li>
            
            <li class="nav-item">
              <a href="adminmanagecourier" class="nav-link">Courier</a>
            </li>
            
            <li class="nav-item">
              <a href="adminmanagecaterogy" class="nav-link">Category</a>
            </li>
            
            <li class="nav-item">
              <a href="adminmanagesubcategory" class="nav-link">Subcategory</a>
            </li>
            
            <li class="nav-item">
              <a href="adminmanageitems" class="nav-link">Products</a>
            </li>
            
            <li class="nav-item">
             <a href="adminmanagepurchase" class="nav-link">Purchase</a>
            </li>
            
            <li class="nav-item">
              <a href="adminvieworders" class="nav-link">Orders</a>
            </li>
            
            <li class="nav-item">
             <a href="adminviewcomplaints" class="nav-link">Complaint</a>
            </li>
            
            <li class="nav-item">
             <a href="admin_purchase_Report" class="nav-link">Purchase Report</a>
            </li>
            
            <li class="nav-item">
              <a href="admin_cust_Report" class="nav-link">Customer Report</a>
            </li>
            
            <li class="nav-item">
              <a href="adminviewpur" class="nav-link">Purchased list</a>
            </li>

          </ul>
          <div class="user_option">
            <a href="/">

                Logout

            </a>
          </div>
        </div>
      </nav>
    </header>
    <!-- end header section -->