{% include 'admin_header.html' %}
<center>
  

<!-- slider section -->
  <section class="slider_section">
      <div class="slider_container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1 align='center'>
                      Manage Category
                      </h1>
         
                    </div>
                  </div>
                  <div class="col-md-5 ">
                    <div class="img-box">
                   
                    </div>
                  </div>
                </div>
              </div>
            </div>

          
          </div>
          
        </div>
      </div>
    </section>

    <!-- end slider section -->

      


    <form action="" method="post" enctype="multipart/form-data">

       <div style="padding-top: 20px;width: 400px;">
            <div class="w-75">
                
            <input type="file" class="form-control mt-3" required placeholder="Category Name" name="img" id="" >
        </div>
            <div class="w-75">
                
            <input type="text" class="form-control mt-3" required placeholder="Category Name" name="name" id="" value="{% if data['raw'] %}{{data['raw'][0]['cat_name']}}{% endif %}">
        </div>
        <div class="w-75">
                
            <input type="text"  class="form-control mt-3" required placeholder="Category description" name="desc" id="" value="{% if data['raw'] %}{{data['raw'][0]['cat_desc']}}{% endif %}">
              
         
        </div>
        
        
         
         <div>
            <input type="submit" class="btn btn-success mt-3" {% if data['raw'] %} name="update" value="Update" {% else %} value="submit" name="submit" {% endif %}>
         </div>
</div>

    </form>


    <h2>View Available Category</h2>
    <table class="table">
        <tr>
            <th>index</th>
            <th>Category</th>
            <th>Image</th>
            <th>Description</th>
            <th>Status</th>
            
        </tr>
        {% for row in data['res'] %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row['cat_name'] }}</td>
            <td><img src="/{{ row['image'] }}"" width="200"></td>
            <td>{{ row['cat_desc'] }}</td>
            <td>{{ row['cat_status'] }}</td>
           
            <td><a  a onclick="return confirm('Are You Sure!')"href="?action=update&cat_id={{ row['cat_id'] }}" class="btn btn-warning btn-sm">Update</a></td>
            <td><a onclick="return confirm('Are You Sure!')" href="?action=active&cat_id={{ row['cat_id'] }}" class="btn btn-success btn-sm">Active</a></td>
            <td><a onclick="return confirm('Are You Sure!')" href="?action=inactive&cat_id={{ row['cat_id'] }}" class="btn btn-danger btn-sm">Inactive</a></td>
        </tr>
        {% endfor %}
    </table>
</center>

<script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<script>
    $(function() {
        $("input[name='fname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
        
        $("input[name='phone']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='pin']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                } else {
                    $('#eerror').hide();
                }

        });
        $("input[name='address']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        });
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
            
        $("input[name='pwd']").on('input', function(e) {
        	$(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });


</script>

{% include 'footer.html' %}