{% include 'admin_header.html' %}


<!-- <div class="top" style="display: flex; justify-content: center;align-items: center;height: 100vh;"></div> -->

<center>
   <!-- slider section -->
  <section class="slider_section">
      <div class="slider_container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1 align='center'>
                      Orders
                      </h1>
         
                    </div>
                  </div>
                  <div class="col-md-5 ">
                    <div class="img-box">
                   
                    </div>
                  </div>
                </div>
              </div>
            </div>

          
          </div>
          
        </div>
      </div>
    </section>

    <!-- end slider section -->
    {% if data['res'] %}

    <h3 class="text-white">View Bookings</h3>


    <div style="background: rgba(0, 0, 0,.5);width: 1000px;border-radius: 10px;">
        <table class="table table-striped" style="color: rgb(255, 255, 255);width: 1000px;">
            <tr>
                <th>Customer Name</th>
                <!-- <th>Product</th>
                <th>Price</th>
                <th>Quantity</th> -->
                <th>Total Price</th>
                <th>Order Date</th>
                <th>Order Status</th>

            </tr>
            {% for row in data['res'] %}
            <tr>
                <td>{{ row['c_fname'] }}{{row['c_lname']}}</td>
                <!-- <td><img src="/{{row['product_img']}}" alt="" style="width: 100px; height: 100px;"><br>Product Name:{{ row['product_name'] }}<br> {{row['product_desc']}}</td>
                <td>{{ row['total_price'] }}</td>
                <td>{{ row['quantity'] }}</td> -->
                <td>{{ row['total_amount'] }}</td>
                <td>{{ row['date'] }}</td>
                <td>{{ row['ostatus'] }}</td>
                <td><a href="adminviewdetails?omid={{row['order_master_id']}}" class="btn btn-success">View Details</a></td>
                <td><a href="adminviewpayment?omid={{row['order_master_id']}}" class="btn btn-success">View Payment</a></td>
                {% if row['ostatus']=='paid' %}
                <td><a href="admin_assign_to_courier?omid={{row['order_master_id']}}" class="btn btn-success">Assign To Courier</a></td>
                {% elif row['ostatus']=='Unreachable' %}
                <td><a href="?action=reassihn&omid={{row['order_master_id']}}" class="btn btn-success">Reassign</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
       
    
    </div>

{% else %}
<h3>View Bookings</h3>
<span style="font-size: medium;color: red;">Noting Here ...</span>

{% endif %}
</center>


{% include 'footer.html' %}