
  <!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <!-- Template CSS Style link -->

    <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style-starter.css">

<script> 
    function printDiv() { 
      var divContents = document.getElementById("div_print").innerHTML; 
      var a = window.open('', '', 'height=500, width=500'); 
      a.document.write(divContents); 
      a.document.close(); 
      a.print(); 
    } 
  </script>
  </head> 
<body onload="printDiv()">
  <div id="div_print" >
<center>
  
<h1 style="padding-top: 30px;font-size: 60px">BILL</h1>
</center>
<br>
<br>
 <h2  style="margin-left: 30px;" class="logo me-auto me-lg-0" ><span style="position: relative;top: 17px;color:#FFC541;">PEAT CONTROL</span><br><br>
      <span style="color: #FFC541; font-family: Freestyle Script Regular;font-size: 23px ;;">PEST.</span></h2>

<h5 style="margin-left: 30px;">A108 MG ROAD <br>
                NY 535022, KOCHI</h5>
<h5 style="margin-left: 30px;">Kerala</h5>
<h5 style="margin-left: 30px;">Phone: +91 9955661155</h5>
<h5 style="margin-left: 30px;">Email: pc_build@gmail.com</h5>

<br>
<center>
    <div>
        <table border="2"  class="table"  style="width: 900px; " >

           
            <tr>    
               
                <th>Product Name:</th>
                
                <th>Purchased Quantity:</th>
                
                <th>Total Amount:</th>
                <th>  </th>
                
            </tr>
             {% for i in data['view_product'] %}
            <tr>  
               <td><img src="/{{i['product_img']}}" width="170px" height="190px" alt=""><br>  {{i['product_name']}}</td>
              <td>{{i['dd']}}</td>
              <td>{{i['total_price']}}</td>
            </tr>

            {% endfor %}
                        <tr>  
              <th>  TOTAL:</th>
              <td>  {{tt}}</td></tr>
        </table>
    </div>
     </center>
</body>
</html>