<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">

  <title>
        PEST CONTROL STORE

  </title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />

  <!-- Custom styles for this template -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/static/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
          <span>
    PEST CONTROL STORE
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  ">

            <li class="nav-item active">
              <a href="customerhome" class="nav-link smoothScroll">Home</a>
            </li>

            <li class="nav-item">
                <a href="customerviewcategory" class="nav-link smoothScroll">Category</a>
            </li>

            <li class="nav-item">
              <!-- <a href="customerviewitems" class="nav-link smoothScroll">View Product</a> -->
            </li>
            
            <li class="nav-item">
              <a href="customercart" class="nav-link smoothScroll">Cart</a>
            </li>
            
            <li class="nav-item">
           <a href="viewmyorders" class="nav-link smoothScroll">My Orders</a>
            </li>
            
            <li class="nav-item">
             <a href="customer_send_complaint_and_view_reply" class="nav-link smoothScroll">Complaint</a>
            </li>
          </ul>
          <div class="user_option">
             <a href="/" class="nav-link smoothScroll">Logout</a>
          </div>
        </div>
      </nav>
    </header>
    <!-- end header section -->




                     
   
 