{% include 'staff_header.html' %}

 
<center>


    {% if data['replysec'] %}
        <br><br>
    <form action="" method="post">
        <table>
            <tr>
                <th>Reply</th>
                <td><input type="text" class="form-control" name="reply" id=""></td>
            </tr>
            <tr>
               <td align="center" colspan="2"> <input class="btn btn-success" style="margin-top: 10px;" type="submit" name="submit" id=""></td>
            </tr>
        </table>
    </form>


    {% else %}
<h4>Recent Complaints</h4>

<table class="table" style="width: 1000px;"> 
   <tr>
       <th>index</th>
       <th>Name</th>
       <th>Place</th>
       <th>Phone</th>
       <th>gender</th>
       <th>Complaint</th>
       <th>Date</th>
       <th>Reply</th>
   </tr>
       {% for row in data['res'] %}
   <tr>
       <td>{{ loop.index }}</td>
       <td>{{ row['c_fname'] }}{{ row['c_lname'] }}</td>
       <td>{{ row['c_city'] }}</td>
       <td>{{ row['c_phone'] }}</td>
       <td>{{ row['c_gender'] }}</td>
       <td>{{ row['complaint'] }}</td>
       <td>{{ row['complaint_date'] }}</td>
       {% if row['reply'] == 'pending' %}
        <td><a class="btn btn-success" href="?action=reply&cid={{ row['complaint_id'] }}">Reply Now</a></td>
       {% else %}
       <td>{{ row['reply'] }}</td>
       {% endif %}
   </tr>
       {% endfor %}
</table>
{% endif %}
</center>
{% include 'footer.html' %}