{% include 'staff_header.html' %}
<center>
<!-- slider section -->
  <section class="slider_section">
      <div class="slider_container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-7">
                    <div class="detail-box">
                      <h1 align='center'>
                      Manage Products
                      </h1>
         
                    </div>
                  </div>
                  <div class="col-md-5 ">
                    <div class="img-box">
                   
                    </div>
                  </div>
                </div>
              </div>
            </div>

          
          </div>
          
        </div>
      </div>
    </section>

    <!-- end slider section -->
 

    <form action="" method="post"  enctype="multipart/form-data" class="text-white">

        <div style="padding-top: 20px;">
      <!--       <div style="width: 400px;">
                <label for="">Select  category: </label>
                <select required name="subid" id="" class="form-control">
                    <option value="{% if data['raw'] %}{{data['raw'][0]['cat_id']}}{% endif %}">{% if data['raw'] %}{{data['raw'][0]['cat_name']}}{% else %} Select  {% endif %}</option>
                    {% for row in data['sub'] %}
                    <option value="{{ row['cat_id'] }}">{{ row['cat_name'] }}</option>
                    {% endfor %}
                </select>
            </div>
         -->
    </div>
    <div>
        <div style="width: 400px;">
            <label for="">Select  Brand: </label>
            <select required name="brid" id=""  class="form-control">
                <option value="{% if data['raw'] %}{{data['raw'][0]['subcat_id']}}{% endif %}">{% if data['raw'] %}{{data['raw'][0]['subcat_name']}}{% else %} Select  {% endif %}</option>
                {% for row in data['subcategory'] %}
                <option value="{{ row['subcat_id'] }}">{{ row['subcat_name'] }}</option>
                {% endfor %}
            </select>
        </div>
    
</div>

        <div style="width: 400px;">
                
            <input type="text" class="form-control  mt-3" required placeholder="Product Name" name="name" id="" value="{% if data['raw'] %}{{data['raw'][0]['product_name']}}{% endif %}">
        </div>
        <div style="width: 400px;">
                
            <input type="text" class="form-control  mt-3" required placeholder="Product description" name="desc" id="" value="{% if data['raw'] %}{{data['raw'][0]['product_desc']}}{% endif %}">
            
        </div >
        {% if data['raw'] %}

        <div style="width: 400px;" >
            <label for="">Image: </label>
            <img src="/{{data['raw'][0]['product_img']}}"  width="60" height="60" alt="" class="form-control mt-3">
        </div>
{% endif %}
        <div style="width: 400px;">
                    <label for="">Image: </label>
            <input type="file"  {% if data['raw'] %} {% else %} required {% endif %} placeholder="Product Name" name="image" id="" class="form-control mt-">
        </div>
        <!-- <div>
                
            <input type="number" required placeholder="Product Price" name="price" id="">
            
        </div> -->
              
        
        
         
         <div>
            <input type="submit" class="btn btn-success" {% if data['raw'] %} name="update" value="Update" {% else %} value="submit" name="submit" {% endif %}>
         </div>


    </form>


    <h5>View Available Items</h5>
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>SubCategory</th>
            <th>Product</th>
            <th>Description</th>
            <!-- <th>Price</th> -->
            <th>Status</th>
            
        </tr>
        {% for row in data['res'] %}
        <tr>
            <td><img src="/{{ row['product_img'] }}" width="100" height="100" alt=""></td>
            <td>{{row['subcat_name']}}</td>
            <td>{{ row['product_name'] }}</td>
            <td>{{ row['product_desc'] }}</td>
            <!-- <td>{{ row['product_price'] }}</td> -->
            <td>{{ row['st'] }}</td>
           
            <td><a href="?action=update&pid={{ row['product_id'] }}" class="btn btn-warning btn-sm">Update</a></td>
            <td><a onclick="return confirm('Are You Sure!')" href="?action=active&pid={{ row['product_id'] }}" class="btn btn-success btn-sm">Active</a></td>
            <td><a onclick="return confirm('Are You Sure!')" href="?action=inactive&pid={{ row['product_id'] }}" class="btn btn-danger btn-sm">Inactive</a></td>
        </tr>
        {% endfor %}
    </table>
</center>

<script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
<script>
    $(function() {
        $("input[name='fname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        $("input[name='lname']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
        // $("input[name='dob']").on('input', function(e) {
        //     $(this).val($(this).val().replace(/[^0-9/]/g, ''));

        // });
        
        $("input[name='phone']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='pin']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
            
        });
        $("input[name='email']").on('input', function(e) {
              var re = /([A-Z0-9a-z_-][^@])+?@[^$#<>?]+?\.[\w]{1,}/.test(this.value);
                if(!re) {
                    $('#eerror').show();
                } else {
                    $('#eerror').hide();
                }

        });
        $("input[name='address']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z0-9()/. ]/g, ''));

        });
        $("input[name='place']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^A-Za-z ]/g, ''));

        });
            
        $("input[name='pwd']").on('input', function(e) {
            $(this).val($(this).val().replace(/[^0-9A-Za-z@/. ]/g, ''));
            
        });
    });


</script>
{% include 'footer.html' %}