
.div
{
    background-image: url(./src/gg.jpg);
    padding:30px 500px 40px 60px ;
    background-repeat: no-repeat;
   background-size: cover;
   height: 500px;
   color: white;
}
.logo{
    font-weight: bold;
    font-size: 20px;
   text-align: left;
   margin-right:600px ;
   margin-top: -50px;
   margin-left: -50px;
}
ul{
  
    display: flex;
    list-style: none;
    margin-left: 900px;
    font-weight: bold;
    font-size: 18px;
  

}
li{
    margin-left: 20px;
}


a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    
    
}
a:hover
{
    background-color:rgb(34, 31, 31);
}

.para h1
{
    font-size: 38px;
    font-weight: bold;
    margin-bottom:40px;
    
}
.para p{
    font-size: 18px;
    line-height:1.5 ;
}
.para h3{
    display: inline-block;
    padding:1px 15px ;
    color: black;
    border-radius: 3px;
    background-color:white ;
}
.h5
{
    background-color:whitesmoke ;
    padding:100px 0px;
    padding: 50px;
    position: relative;

}
.h5 span
{
    color: blue;
}
.h5 h5{
    color: grey;
}
.box1
{ 
    display: inline-block;
    padding: 2rem;
    justify-content: space-between 10px;
    width: 200px;
    
}

.box1 h2
{
    margin-right: 100px;
}

.box1
{

    background-color: white;
    border-radius:40px 30px 40px 30px ;
    margin: 30px;
    text-align: left;
    width: 300px;
    margin-bottom: 30px;  
    box-shadow: 0 2px 5px;
}

.h5 p{
    color: gray;
}