*
{
    background-color: rgb(77, 123, 125);
}
p
{
font-size:40px ;
color: rgb(67, 61, 111); background-color: blueviolet;
}
.gs
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(40, 35, 29);
}
